<h1>Graph it </h1>
<p><%= @data %></p>
<input type="text" id="text" value=""></input>

<input type="button" id="sbutton" value="Submit it"></input>

<div>
  <div id="placeholder" style="width:600px;height:300px"></div>
</div>
