# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 23ae39d5871208390dda52345ecb2b94dcad2501514ca64decfba3a94e6566dc72b574a5e9357200148a4247a3cde515c5ea808d28c8bfbf8c64de645a9054c2
  quandl_key: <%= ENV["QUANDLE_KEY"] %>
  devise_key: <%= ENV["DEVISE_KEY"] %>

test:
  secret_key_base: fa6a6e069a618bca2b540b0eeb0120e850b8a3dabdd24e0b33737540112468ccdebeb0192ddd6f9f4b46f6d987528d34f0ede80e32a3d34ec0eb174021d7fdca
  devise_key: <%= ENV["DEVISE_KEY"] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_key: <%= ENV["DEVISE_KEY"] %>
  quandl_key: <%= ENV["QUANDLE_KEY"] %>
